.sideBar__container {
  height: 100%;
  background-color: #7bb7f3;
}

.sideBar__list {
  height: auto;
  width: 100%;
  padding: 0;
}

.sideBar__list .sideBar__row {
  height: 60px;
  list-style-type: none;
  margin: 2%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.sideBar__list .sideBar__row:hover {
  background-color: #1976d2;
}

.cursor {
  cursor: pointer;
}

.icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.title {
  flex: 70%;
}

a.active {
  background-color: #1976d2;
}
