.playlist_modal_main {
  display: flex;
}

.modal {
  z-index: 9;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(245, 245, 245, 0.6);
}

.modal_playlist {
  background-color: #3270b8;
  padding: 1rem;
  min-width: 20%;
  border-radius: 2%;
}

.modalPlaylist_container {
  display: flex;
  justify-content: space-between;
}

.close_btn_modal {
  display: flex;

  justify-content: space-between;
}

.input_playlist {
  color: black;
  padding: 0.1rem 0.5rem;
  border: none;
  outline: transparent;
}

.input_playlist::placeholder {
  color: black;
  border-radius: 0.5rem;
}

.grow {
  flex-grow: 1;
}

.plus_icon {
  background-color: green;
  cursor: pointer;
  padding: 0.2rem;
}

.playlist_close_btn {
  cursor: pointer;
  font-size: 1.2rem;
}

.delplaylistNameIcon {
  cursor: pointer;
}
